<section id="about" class="home-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>About me</h2>
          <div class="heading-line"></div>
          <p>Digital Content Creator. Musician. Artist. NOMAD. </p>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-md-6 about-img">
        <img src="assets/nate-profile.jpg" alt="">
      </div>

      <div class="col-md-6 content" id="bio-content">
        <h2>"Every human has four endowments - self awareness, conscience, independent will and creative imagination. These give
          us the ultimate human freedom - The power to choose, to respond, to change." - Steven Covey</h2>
        <h3>For the last 5 years of my life I have tried to do just that. Build freedom, success, and independence through travel, collaboration, art, and making change.</h3>
        <p>
          As I've traveled I've learned a few things about myself - I want to give my best at everything I do, I want to spread love and help the world, and I want to create. Creation has led me from music, to art, and now into web development. I'm versed in JavaScript, HTML, CSS, and Angular.js. If you need hands on help with a website, brand marketing, or an overall rehaul on your social media - I'm your guy! In my free time you'll catch me snowboarding in the mountains, running rivers, or sitting on a beach. Life is beautiful and meant to be enjoyed, and so should your workspace!
        </p>
      </div>
    </div>
  </div>
</section>
