div[_ngcontent-c8] > div[_ngcontent-c8] > div[_ngcontent-c8] > div[_ngcontent-c8] > h1[_ngcontent-c8] {
    margin-bottom: -30px;
}

div[_ngcontent-c8] > div[_ngcontent-c8] > div[_ngcontent-c8] > div[_ngcontent-c8] > p[_ngcontent-c8] {
    margin-top: -10px;
}

div[_ngcontent-c7] > div[_ngcontent-c7] > div[_ngcontent-c7] > div[_ngcontent-c7] > h2[_ngcontent-c7] {
    margin-top: -25px;
    margin-right: 15%;
}

div > div > div > div > h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4.5em;
    text-align: left;
}

div > div > div > div > h2 {
    font-family: 'Amatic SC', cursive; 
    font-size: 3.5em;
    text-align: center;
    margin-top: 25px;
}

div > div > div > div > p {
    font-size: 2em;
    text-align: right;
    margin-bottom: -50px;
}