<div id="intro">
    <div class="intro-text">
      <div class="container">
        <div class="col-md-12">
          <div id="rotator">
            <h1><span class="1strotate">I {{ verb }} {{ adj }} {{ noun }} </span></h1>
            <div class="line-spacer"></div>
            <p><span class="2ndrotate">Nathan Swift</span></p>
            <a routerLink="get-started-form" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>