<div id="intro">
    <div class="intro-text" style="background-image: url('assets/img/bgslides/1.jpg'); background-size: cover;">
      <div class="container">
        <div class="col-md-12">
          <div id="rotator">
            <h1><span class="1strotate">Alstar web studio, Design for life, Creativity and technology</span></h1>
            <div class="line-spacer"></div>
            <p><span class="2ndrotate">Web Design, Brand Identity, Promotion</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>