div#intro div.intro-text {
    background-image: url('/assets/SF-1293.jpg'); 
    background-size: cover;
    background-position: center center;
}

div#rotator > p > span {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
}

div > div > div > div > div > a {
    font-family: 'Amatic SC', cursive;
    color: white;
    background-color: #53627A;
    margin-top: 20px;
    font-size: 1.25em;
    cursor: pointer;
}