<!-- Works -->
<section id="portfolio" class="home-section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>Works</h2>
          <div class="heading-line"></div>
          <p>Take a look at some of the projects I've been working on!</p>
        </div>
      </div>
    </div>
    <div class="row-6">
      <div class="col-6">

        <ul id="og-grid" class="og-grid">
          <li>
            <a href="#" data-largesrc="assets/img/works/9.jpg" data-title="Portfolio title" data-description="Lorem ipsum ">
              <img src="assets/screenshot.png" alt="img01" />
            </a>
          </li>
          <li>
            <a href="#" data-largesrc="assets/img/works/10.jpg" data-title="Portfolio title" data-description="Duo te dico volutpat, solet nusquam accusam ex vim.">
              <img src="assets/screenshot3.png" alt="img01" />
            </a>
          </li>
          <li>
            <a href="#" data-largesrc="assets/img/works/11.jpg" data-title="Portfolio title" data-description="Vim ad persecuti appellantur.">
              <img src="assets/screenshot4.png" alt="img01" />
            </a>
          </li>
          <li>
            <a href="#" data-largesrc="assets/img/works/12.jpg" data-title="Portfolio title" data-description="Mea an eros periculis dignissim, quo mollis nostrum elaboraret et.">
              <img src="assets/screenshot5.png" alt="img01" />
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
