<section id="team" class="home-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>Our Team</h2>
          <div class="heading-line"></div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="box-team wow bounceInUp" data-wow-delay="0.1s">
          <a href="#">
            <img src="assets/nates-profile2.JPG" alt="" class="img-responsive" />
          </a>
          <h4>Nathan Swift</h4>
          <p>Developer</p>
          <p>Nate Swift is a developer, musician, and artist. He develops for Onflo, and aids in teaching with Future Corps.
            Nate is a professional traveler, photographer, developer, and content designer. Nate's primary focus is front
            end development.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
        <div class="box-team wow bounceInUp">
          <a href="http://www.jadeallencook.com/" target="_blank">
            <img src="assets/Jades-profile.jpg" class="img-responsive" />
          </a>
          <h4>Jade Allen Cook</h4>
          <p>Developer</p>
          <p>Jade Allen Cook is one of the creators of Onflo. Jade has over 10 years of experience in the development world
            and works side by side with Nate and others to grow the Onflo Platform and grow the education and development
            of Future Corps, an up and coming Development School. Jade has worked with over two-hundred clients, and has
            been online training thousands and worked with KSL and Desert Media to create tools to help hundreds of thousands.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
        <div class="box-team wow bounceInUp">
          <a href='#' target="_blank">
            <img src='assets/SF-1187.jpg' class="img-responsive" />
          </a>
          <h4>Future Corps</h4>
          <p>Collaborative Partner</p>
          <p>Future corp is a non-profit based company, offering corps members free tuition, housing, and amenities including
            food, in exchange for building the Futurecorps Nonprofit Vision - Technelogical advancement and global change. </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
        <div class="box-team wow bounceInUp">
          <a href='http://www.onflo.io/pages/home/' target="blank">
            <img src='assets/onflo-logo.png' class="img-responsive"/>
          </a>
          <h4>Onflo</h4>
          <p>Collaborative Partner</p>
          <p>Over the past decade while working in the marketing and digital art industry Onflo has helped dozens of clients and
            completed hundreds of projects. They've been fortunate enough to help many businesses and international clients
            to produce professional marketing materials and webpages. They're consistently expanding their skills to provide
            the best services for your business!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
